
Demo/.vs/VSWorkspaceState.json
Demo/.vs/slnx.sqlite
Demo/.vs/ProjectSettings.json
Demo/.vs/Demo/v15/ipch/AutoPCH/CMAKELISTS-7310595a/MAIN-f5a9349b/MAIN.ipch
Demo/.vs/Demo/v15/ipch/AutoPCH/CMAKELISTS-14d98d43/MAIN-d5e59478/MAIN.ipch
Demo/.vs/Demo/v15/ipch/AutoPCH/CMAKELISTS-3b395363/API_IMPL-fb9aeccf/API_IMPL.ipch
Demo/.vs/Demo/v15/Browse.VC.opendb
Demo/.vs/Demo/v15/Browse.VC.db
Demo/.vs/Demo/v15/.suo
